# Homework 4 - Spark

In this homework, we are practicing Apache Spark.

You are required to turn in this notebook as BDM\_HW4\_Spark\_**NetId**.ipynb. You will be asked to complete each task using Apache Spark. Output can be printed in the notebook.

## Task 1 (5 points)

You are asked to implement Homework 3 using Spark. The description is provided below for your convenience.

You are asked to implement the Social Triangle example discussed in class. In particular, given the email dataset, please list all "reciprocal" relationships in the company. Recall that:

If A emails B and B emails A, then A and B is *reciprocal*.

If A emails B but B doesn’t email A, then A and B is *directed*.

**Dataset:** We will use a subset of the open [Enron Email Dataset](https://www.cs.cmu.edu/~./enron/ "Enron Email Dataset"), which contains approximately 10,000 simplified email headers from the Enron Corporation. You can download this dataset from NYU Classes as **enron_mails_small.csv**. The file contains 3 columns *Date*, *From*, and *To*. Their description is as follows:

|Column name|Description|
|--|--|
|Date |The date and time of the email, in the format YYYY-MM-DD hh-mm-ss, <br />e.g. "1998-10-30 07:43:00" |
|From |The sender email address, <br />e.g. "mark.taylor@enron.com" |
|To | A list of recipients' email addresses separated by semicolons ';', <br />e.g. "jennifer.fraser@enron.com;jeffrey.hodge@enron.com" |

Note that, we only care about users employed by Enron, or only relationships having email addresses that end with *'@enron.com'*.

The expected output is also provided below. For each reciprocal relationship, please output a tuple consisting of two strings. The first one is always **'reciprocal'**. And the second one is a string showing the name of the two person in the following format: **'Jane Doe : John Doe'**. The names should be presented in the lexical order, i.e. there will not be a 'John Doe : Jane Doe' since 'Jane' is ordered before 'John.

Though the dataset only contains email addresses, not actual names, we're assuming that the email aliases were created based on their name. For example:

|Email Address|Converted Name|
|--|--|
|mark.taylor@enron.com|Mark Taylor|
|alan.aronowitz@enron.com|Alan Aronowitz|
|marc.r.cutler@enron.com|Marc R Cutler|
|hugh@enron.com|Hugh|

Please fill the code block with a series of MapReduce jobs using your own mapper and reducer functions. Be sure to include the naming convention logic into one of your mappers and/or reducers.

In [1]:
sc

In [78]:
mailrecord = sc.textFile('enron_mails_small.csv').cache()
mailrecord.first()

'Date,From,To'

In [240]:
def getinfo(pid,rows):
    if pid ==0:
        next(rows)
    import csv
    row = csv.reader(rows)
    for info in row:
        fromaddress = info[1].split('@')[1]
        if fromaddress=='enron.com':
            for to in info[2].split(';'):
                if to.split('@')[1]=='enron.com':
                    yield ((info[1].split('@')[0],to.split('@')[0].split(';')[0]),1)

In [253]:
recipocal = mailrecord.mapPartitionsWithIndex(getinfo).reduceByKey(lambda x,y: 1)\
            .map(lambda x: ((sorted(x[0])[0],sorted(x[0])[1]), 1))\
            .reduceByKey(lambda x,y: x+y)\
.filter(lambda x: x[1] % 2 == 0)\
.map(lambda x:('recipropcal',x[0][0].split('.')[0].capitalize()+' '+x[0][0].split('.')[1].capitalize()+' : ' + x[0][1].split('.')[0].capitalize()+' '+x[0][1].split('.')[1].capitalize()))

recipocal.collect()

[('recipropcal', 'Carol Clair : Mark Taylor'),
 ('recipropcal', 'Elizabeth Sager : Mark Taylor'),
 ('recipropcal', 'Richard Sanders : Sara Shackleton'),
 ('recipropcal', 'Sara Shackleton : Tana Jones'),
 ('recipropcal', 'Brenda Whitehead : Elizabeth Sager'),
 ('recipropcal', 'Gerald Nemec : Susan Scott'),
 ('recipropcal', 'Greg Whalley : Richard Sanders'),
 ('recipropcal', 'Mark Haedicke : Richard Sanders'),
 ('recipropcal', 'Janette Elbertson : Richard Sanders'),
 ('recipropcal', 'Stinson Gibner : Vince Kaminski'),
 ('recipropcal', 'Shirley Crenshaw : Vince Kaminski'),
 ('recipropcal', 'Drew Fossum : Susan Scott'),
 ('recipropcal', 'Michelle Cash : Twanda Sweet'),
 ('recipropcal', 'Grant Masson : Vince Kaminski'),
 ('recipropcal', 'Fletcher Sturm : Sally Beck'),
 ('recipropcal', 'Fletcher Sturm : Greg Whalley'),
 ('recipropcal', 'Liz Taylor : Mark Haedicke'),
 ('recipropcal', 'Carol Clair : Debra Perlingiere'),
 ('recipropcal', 'Debra Perlingiere : Kevin Ruscitti'),
 ('recipropcal', 'Mark Taylor : Tana Jones'),
 ('recipropcal', 'Mark Taylor : Sara Shackleton'),
 ('recipropcal', 'Mark Haedicke : Mark Taylor'),
 ('recipropcal', 'Elizabeth Sager : Mark Haedicke'),
 ('recipropcal', 'Mark Haedicke : Twanda Sweet'),
 ('recipropcal', 'Carol Clair : Tana Jones'),
 ('recipropcal', 'Carol Clair : Sara Shackleton'),
 ('recipropcal', 'Elizabeth Sager : Richard Sanders'),
 ('recipropcal', 'Rosalee Fleming : Steven Kean'),
 ('recipropcal', 'Elizabeth Sager : Janette Elbertson'),
 ('recipropcal', 'Mark Haedicke : Michelle Cash'),
 ('recipropcal', 'Pinnamaneni Krishnarao : Vince Kaminski'),
 ('recipropcal', 'Carol Clair : Richard Sanders'),
 ('recipropcal', 'Eric Bass : Susan Scott'),
 ('recipropcal', 'Vasant Shanbhogue : Vince Kaminski'),
 ('recipropcal', 'Janette Elbertson : Mark Taylor')]

## Task 2 (5 points)

You are asked to implement Task 2 of Lab 5. The description is provided below for your convenience.

We’ll be using two NYC open data sets: the SAT Results and the NYC High School Directory data sets. Both can be downloaded from the links below, or from online class resources.

**Dataset**: *Please note that each school is uniquely identified by an DBN code, which should be found on both data sets.*

**SAT_Results.csv**
Source: https://nycopendata.socrata.com/Education/SAT-Results/f9bf-2cp4  
Description: “The most recent school level results for New York City on the SAT. Results are available at the school level for the graduating seniors of 2012.”

**DOE_High_School_Directory_2014-2015.csv**
Source: https://data.cityofnewyork.us/Education/DOE-High-School-Directory-2014-2015/n3p6-zve2  
Description: “Directory of NYC High Schools.”

We would like to know how the Math scores vary across bus lines or subway lines serving the schools. Your task is to compute the average Math scores of all schools along each bus line and subway line. You can find the bus and subway lines serving each school in the High School Dictionary as bus and subway columns.

The expected results are two lists:
1. A list of key/value pairs: with bus line as keys, and the average Math scores as values.
2. A list of key/value pairs: with subway line as keys, and the average Math scores as values.

The top ten lines with highest score are shown below.

In [456]:
sat = sc.textFile('SAT_Results.csv').cache()
doe = sc.textFile('DOE_High_School_Directory_2014-2015.csv').cache()

In [481]:
def extractScores(partitionId,rows):
    if partitionId ==0:
        next(rows)
    import csv
    reader = csv.reader(rows)
    for fields in reader:
        if fields[2]!='s':
            yield(fields[0],(int(fields[4]),int(fields[2])))

def extractSchools(pid, rows):
    if pid==0:
        next(rows)
    import csv
    reader = csv.reader(rows)
    for fields in reader:
        if len(fields) ==58 and fields[17].isdigit():
            if fields[10]!='N/A':
                for bus in fields[10].split(','):
                    yield (fields[0], bus.replace(' ',''))

In [483]:
BusSchool = doe.mapPartitionsWithIndex(extractSchools)
BusSchool.take(2)

[('01M292', 'B39'), ('01M292', 'M14A')]

In [466]:
SatScore = sat.mapPartitionsWithIndex(extractScores)

In [509]:
BusSchool.join(SatScore).values()\
.mapValues(lambda x:(x[0]*x[1],x[1]))\
.reduceByKey(lambda x,y :(x[0]+y[0],x[1]+y[1]))\
.mapValues(lambda x:round(x[0]/x[1]))\
.collect()

[('M14A', 476),
 ('M21', 486),
 ('M103', 441),
 ('M3', 433),
 ('M34A-SBS', 438),
 ('M50', 439),
 ('M57', 486),
 ('M4', 443),
 ('M72', 523),
 ('M100', 428),
 ('Bx41-SBS', 390),
 ('Bx32', 398),
 ('Bx36', 373),
 ('Bx3', 572),
 ('Bx38', 379),
 ('Bx31', 417),
 ('Bx27', 371),
 ('B69', 549),
 ('B65', 538),
 ('B24', 432),
 ('B32', 409),
 ('B44', 465),
 ('B48', 412),
 ('Q54', 408),
 ('Q59', 419),
 ('B15', 383),
 ('B14', 391),
 ('B83', 376),
 ('Q56', 434),
 ('B1', 461),
 ('B64', 455),
 ('B11', 504),
 ('Q66', 462),
 ('Q41', 441),
 ('Q111', 446),
 ('Q113', 439),
 ('Q17', 496),
 ('Q20A', 505),
 ('Q3', 456),
 ('Q76', 488),
 ('Q8', 443),
 ('Q69', 444),
 ('S56', 477),
 ('S51', 422),
 ('S74', 486),
 ('M106', 470),
 ('Bx20', 455),
 ('Q53', 438),
 ('Q27', 481),
 ('Q30', 508),
 ('Q1', 413),
 ('Q43', 433),
 ('Q77', 413),
 ('S54', 474),
 ('B100', 475),
 ('Q15A', 438),
 ('Q28', 493),
 ('Q22', 435),
 ('S59', 474),
 ('Q34', 441),
 ('Q48', 441),
 ('Q10', 404),
 ('M9', 539),
 ('M15-SBS', 453),
 ('M8', 467),
 ('M104', 478),
 ('M42', 411),
 ('M7', 484),
 ('M66', 519),
 ('Q60', 480),
 ('Bx15', 393),
 ('M60', 358),
 ('Bx33', 427),
 ('Bx40', 400),
 ('Bx42', 400),
 ('Bx19', 413),
 ('Bx2', 470),
 ('Bx4', 392),
 ('Bx4A', 392),
 ('Bx1', 465),
 ('Bx5', 382),
 ('Bx35', 390),
 ('Bx10', 535),
 ('Bx12-SBS', 405),
 ('Bx34', 416),
 ('Bx8', 410),
 ('B67', 420),
 ('B25', 541),
 ('B41', 521),
 ('B61', 400),
 ('B45', 535),
 ('B63', 558),
 ('B46', 391),
 ('B43', 411),
 ('B16', 449),
 ('B9', 489),
 ('B36', 433),
 ('Q67', 467),
 ('Q11', 434),
 ('Q7', 408),
 ('Q23', 483),
 ('Q38', 457),
 ('Q20B', 482),
 ('Q31', 505),
 ('Q36', 467),
 ('Q42', 583),
 ('Q84', 508),
 ('Q104', 453),
 ('S61', 452),
 ('S40', 434),
 ('S48', 432),
 ('S66', 443),
 ('S76', 486),
 ('S78', 486),
 ('B52', 561),
 ('B84', 432),
 ('Q58', 410),
 ('S57', 490),
 ('Q13', 493),
 ('Q16', 445),
 ('Q26', 438),
 ('S55', 486),
 ('M79', 594),
 ('M14D', 469),
 ('M15', 459),
 ('M22', 574),
 ('M101', 454),
 ('M102', 455),
 ('M2', 449),
 ('M11', 477),
 ('M5', 520),
 ('S1115', 612),
 ('Q32', 467),
 ('M10', 495),
 ('Bx6', 396),
 ('Bx17', 389),
 ('M1', 414),
 ('Bx46', 377),
 ('Bx11', 390),
 ('Bx26', 534),
 ('Bx28', 490),
 ('Bx23', 392),
 ('Bx29', 392),
 ('Bx30', 401),
 ('Q50', 392),
 ('Bx39', 395),
 ('Q44', 354),
 ('B57', 406),
 ('B103', 532),
 ('B26', 390),
 ('B60', 398),
 ('B47', 375),
 ('B12', 391),
 ('B49', 472),
 ('B17', 385),
 ('B7', 378),
 ('B8', 485),
 ('B6', 468),
 ('B4', 466),
 ('B3', 382),
 ('Q35', 519),
 ('Q100', 455),
 ('Q24', 434),
 ('Q4', 479),
 ('Q5', 457),
 ('Q65', 464),
 ('Q83', 449),
 ('Q85', 486),
 ('Q9', 462),
 ('S89', 438),
 ('S42', 432),
 ('S46', 434),
 ('S52', 432),
 ('Q29', 424),
 ('Q25', 473),
 ('Q88', 508),
 ('Q46', 452),
 ('Q2', 420),
 ('Q40', 417),
 ('Q55', 395),
 ('B31', 475),
 ('Q37', 423),
 ('S53', 452),
 ('M23', 463),
 ('B39', 439),
 ('M31', 490),
 ('M20', 540),
 ('M34-SBS', 418),
 ('M98', 410),
 ('Q101', 465),
 ('M116', 468),
 ('M35', 496),
 ('Bx18', 382),
 ('Bx7', 402),
 ('Bx13', 398),
 ('Bx21', 399),
 ('Bx41', 388),
 ('Bx22', 525),
 ('Bx9', 389),
 ('Bx12', 405),
 ('B38', 521),
 ('B54', 543),
 ('B62', 513),
 ('B44-SBS', 465),
 ('B35', 390),
 ('B42', 384),
 ('B82', 441),
 ('B20', 372),
 ('B13', 397),
 ('B70', 477),
 ('B68', 466),
 ('Q102', 475),
 ('Q39', 467),
 ('Q64', 530),
 ('Q110', 462),
 ('Q112', 442),
 ('Q6', 446),
 ('Q103', 444),
 ('S44', 435),
 ('S79-SBS', 506),
 ('S62', 432),
 ('M86', 539),
 ('M96', 402),
 ('Bx24', 430),
 ('Q72', 424),
 ('B2', 475),
 ('Q12', 438),
 ('Q15', 438),
 ('Q18', 435)]

In [537]:
def extractSchools(pid, rows):
    if pid==0:
        next(rows)
    import csv
    reader = csv.reader(rows)
    for fields in reader:
        if len(fields) ==58 and fields[17].isdigit():
            if fields[11]!='N/A':
                for subs in fields[11].replace(' to ',';').replace(' ','').split(';')[::2]:
                    for sub in subs.split(','):
                        yield (fields[0], sub)

In [538]:
SubSchool = doe.mapPartitionsWithIndex(extractSchools)
SubSchool.join(SatScore).values()\
.mapValues(lambda x:(x[0]*x[1],x[1]))\
.reduceByKey(lambda x,y :(x[0]+y[0],x[1]+y[1]))\
.mapValues(lambda x:round(x[0]/x[1]))\
.collect()

[('J', 439),
 ('L', 426),
 ('4', 495),
 ('N', 494),
 ('F', 446),
 ('M', 454),
 ('6', 433),
 ('B', 492),
 ('3', 513),
 ('A', 510),
 ('Q', 482),
 ('7', 457),
 ('C', 510),
 ('1', 500),
 ('R', 509),
 ('S', 428),
 ('SIR', 499),
 ('Z', 438),
 ('D', 502),
 ('E', 501),
 ('2', 488),
 ('5', 461),
 ('G', 503)]